*{
    margin: 0;
    padding: 0;

}

body {
  font-family: 'Roboto', sans-serif;
}


/* Form styles */
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height:100%; /* Full viewport height for vertical centering */
}

form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

legend {
  text-align: center;
  font-weight: bold;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.user-page-container{
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  width: 100%;

}

.customer-navbar{
  display: flex;
  /* Sets the initial main size of the flex item to 20% of the container */
  flex-basis: 20%;
}

.customer-content{
  display: block;
  flex-basis: 80%;
  padding-top: 2rem;
}
 .customer-content h1{
  text-align: center;
  font-weight: bold;
  font-size: 2.5rem;
 
 }