*{
    margin: 0;
    padding: 0;

}

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: #F5F5F5;
  color: #333333;
}

/* Global anchor and buttons styles */
a {
  color: #333333;
}

.home-navbar a, .navbar-links a {
  text-decoration: none;
}

.home-navbar a:hover, button:hover, 
.navbar-links a:hover {
  color: #2563eb;
  text-decoration: underline;
  text-decoration-color: #333333;
}

button {
  cursor: pointer;
  color: #333333;
  background-color: #F5F5F5;
}


/* Form styles */
.login-signup-form-container {
  display: flex;
  margin: 2rem;
}

form {
  margin: 0 auto; /* Center the form */
}

legend {
  text-align: center;
  font-weight: bold;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.user-page-container{
  display: flex;
  min-height: 100vh;
}

.customer-content, .admin-content{
  padding: 2rem;
  flex-grow: 1;
  min-height: 100vh;
  margin-left: 200px;
  
}
 .customer-content h1, .admin-content h1{
  text-align: center;
  font-weight: bold;
  font-size: 2.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
 }